# TrueWallet Settings
TRUEWALLET_PHONE=0951378403
PROXY_URL=

# Cloudflare Turnstile (Optional)
TURNSTILE_SECRET_KEY=
VITE_TURNSTILE_SITE_KEY=0x4AAAAAADDNPyGBIV4MApep

# Supabase (If using Database)
VITE_SUPABASE_URL=https://xuszhqyahucrhupppzil.supabase.co/
VITE_SUPABASE_ANON_KEY=sb_publishable_FXKIpF5jTGVJ_3NcfXgLUw_q93Fg-_P
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh1c3pocXlhaHVjcmh1cHBwemlsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzY2MTUxMCwiZXhwIjoyMDkzMjM3NTEwfQ.m9OkrXwzmxyBZKWgIRftElDNFPFPU9jL6JzCrDRWDfA

# Gemini API
GEMINI_API_KEY=

# Alerts
DISCORD_WEBHOOK_URL=