# TrueWallet Settings
TRUEWALLET_PHONE=0951378403
PROXY_URL=

# Cloudflare Turnstile (Optional)
TURNSTILE_SECRET_KEY=

# Supabase (If using Database)
VITE_SUPABASE_URL=https://xuszhqyahucrhupppzil.supabase.co/
VITE_SUPABASE_ANON_KEY=sb_publishable_FXKIpF5jTGVJ_3NcfXgLUw_q93Fg-_P
NEXT_PUBLIC_SUPABASE_URL=https://xuszhqyahucrhupppzil.supabase.co/
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_FXKIpF5jTGVJ_3NcfXgLUw_q93Fg-_P
SUPABASE_SERVICE_ROLE_KEY=
